<!DOCTYPE HTML>
<html>
<head>
    <title>{$site_title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href="/static/admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />

    <link href="/static/admin/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/static/admin/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="//cdn.bootcss.com/zui/1.5.0/css/zui.min.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script

    <link href='http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/admin/js/bootstrap.min.js"></script>
</head>
<body id="login">
<div class="login-logo">
    <a href="index.html"></a>
</div>
<h2 class="form-heading">{$site_title} </h2>
<div class="app-cam">
    <form>
        <input type="text" class="text" id='inputUsernameEmail' value="输入用户名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '输入用户名';}">
        <input type="password" value="Password" id='inputPassword' onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '输入密码';}">
        <input type="text" class="text" id="code" name='code' value="输入验证码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '输入验证码';}">
        <img  src="{:captcha_src('admin')}"  id='verfy_code' alt="验证码" onclick="this.src=this.src+'?'+Math.random()" />
        <div class="submit"><input type="button"  class="mysubmit" id="mysubmit" value="Login"></div>
    </form>
</div>
<div class="copy_layout login">
    <p>Copyright &copy; 2015.{$site_title}  All rights reserved.</p>
</div>
<script type="text/javascript" src="/static/js/zui.js"></script>
<script type="text/javascript">
    $(function(){
        if( $.cookie('s')>=4){
            new $.zui.Messager('登陆失败超过3次', {
                icon: 'heart',
                placement: 'center' // 定义显示位置
            }).show();
            $('#mysubmit').attr('disabled','true');
        }
        $('#mysubmit').bind('click',function () {
            var postdata={'mysubmit':'Login','user':$('#inputUsernameEmail').val(),'pass':$('#inputPassword').val(),'code':$('#code').val()};
          /*    window.open("{:url('adminstation/index/index')}"+"?mysubmit=Login&user="+$('#inputUsernameEmail').val()+"&pass="+$('#inputPassword').val()+'&code='+$('#code').val());
             return;*/
            $.post("{:url('adminstation/index/index')}",postdata,function(data){
                if(data.r=='2'){
                    if($.cookie('s')) {
                        if( $.cookie('s')>=4){
                            new $.zui.Messager('登陆失败超过3次', {
                                icon: 'heart',
                                placement: 'center' // 定义显示位置
                            }).show();
                            $('#mysubmit').attr('disabled','true');
                            return;
                        }
                        var i=   $.cookie('s')+1;
                        $.cookie('s', i);
                    }else{
                        var date = new Date();
                        date.setTime(date.getTime() + (0.1 * 60 * 60 * 1000));
                        $.cookie('s',1, { path: '/', expires: date });
                    }
                }
                new $.zui.Messager(data.message, {
                    icon: 'heart',
                    placement: 'center' // 定义显示位置
                }).show();
                if(data.r!='100'){
                    verfy_code.src=verfy_code.src+'?'+Math.random()
                }
                if(data.r=='100'){
                    location.href="{:url('adminstation/config/index')}";
                }
            },'json');
        });
    });
</script>
</body>
</html>


